Docs/Creative OS/n8n bodies/Creative OS - KIE workflow.json
{
  "name": "Creative OS - KIE video pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "creativeos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook",
      "name": "Webhook",
      "webhookId": "aab8c18e-cefe-46b4-ba04-6b6ccfc6d4dd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.maxfusion.ai/api/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_MAXFUSION_KEY"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"purpose\": \"image_reference\",\n  \"filename\": \"image_{{ Date.now() }}.jpg\",\n  \"content_type\": \"image/jpeg\",\n  \"size_bytes\": {{ Math.floor($('Webhook').first().json.body.product_images_base64[0].split(',')[1].length * 3 / 4) }}\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        220,
        0
      ],
      "id": "register-image",
      "name": "Register image"
    },
    {
      "parameters": {
        "jsCode": "const dataUrl = $('Webhook').first().json.body.product_images_base64[0];\nconst buffer = Buffer.from(dataUrl.split(',')[1], 'base64');\nconst reg = $input.first().json;\nconst bin = await this.helpers.prepareBinaryData(buffer, reg.filename, 'image/jpeg');\nreturn [{ json: reg, binary: { file: bin } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "decode-image",
      "name": "Decode image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload.url }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $json.upload.fields['Content-Type'] }}"
            },
            {
              "name": "key",
              "value": "={{ $json.upload.fields['key'] }}"
            },
            {
              "name": "x-amz-algorithm",
              "value": "={{ $json.upload.fields['x-amz-algorithm'] }}"
            },
            {
              "name": "x-amz-credential",
              "value": "={{ $json.upload.fields['x-amz-credential'] }}"
            },
            {
              "name": "x-amz-date",
              "value": "={{ $json.upload.fields['x-amz-date'] }}"
            },
            {
              "name": "policy",
              "value": "={{ $json.upload.fields['policy'] }}"
            },
            {
              "name": "x-amz-signature",
              "value": "={{ $json.upload.fields['x-amz-signature'] }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        0
      ],
      "id": "upload-to-s3",
      "name": "Upload to S3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4.6\",\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        { \"type\": \"text\", \"text\": \"You are analyzing a static ad image. Your only job is to produce a complete, exhaustive, replicable record of the creative \\u2014 a forensic transcript of every visible element, every word of copy, every design choice, captured exactly as it appears, so an operator can rebuild the ad from your notes alone, swapping in a different product or brand if they choose. You are not a critic. You are not a strategist. You are a transcriber. Describe only what is observable; never write impressions, never praise, never guess.\\n\\nThe image may be in any medium \\u2014 a photograph, a 3D/CGI render, a 2D illustration, vector/flat design, a collage, a meme, an infographic, or AI-generated. First identify the medium, then describe each element in the terms that fit it. Apply the fields that make sense and mark the rest NONE; never force photographic vocabulary onto an illustration or flat graphic, and never invent a product, a person, or text that is not there.\\n\\nOUTPUT STRUCTURE\\nExactly two parts, in this order. Output nothing before PART 1 and nothing after PART 2.\\n\\nPART 1 \\u2014 ELEMENT-BY-ELEMENT DECONSTRUCTION\\nA new entry for every distinct visual element: each copy block, each product, each subject, each graphic, each background layer, each badge / logo / icon / sticker / price / fine print. Move systematically through the image, top to bottom and left to right. Do not skip elements. Do not group elements unless they are visually fused into one block (for example, a single multi-line headline).\\n\\nEach entry captures, in this exact field order:\\n\\n  REGION: <position and approximate footprint \\u2014 quadrant or rule-of-thirds language; note alignment and whether it is full-bleed, centered, or edge-anchored. e.g. \\\"upper third, centered, spans ~80% width\\\">\\n  ELEMENT TYPE: <headline | subhead | body copy | legal / fine print | CTA button | price / offer | product (which surface or angle) | human subject | lifestyle scene | icon | badge | sticker | logo / brand mark | graphic shape | background | pattern | texture | photo-cutout | illustration | chart / diagram>\\n  CONTENT: <if text: \\\"verbatim, exact display including line breaks, emoji, punctuation, casing, original language\\\"; if visual: describe concretely \\u2014 what it is, color, material, finish, angle, gesture, lighting direction, shadows, what is behind it>\\n  STYLE: <if text: font category (serif | sans | slab | display | script / handwritten | pixel | mono), weight, case (UPPERCASE | lowercase | Title Case), size relative to the canvas, color, alignment, letter-spacing, and any treatment (outline, drop-shadow, highlight box, gradient fill); if visual: rendering style (studio photo | lifestyle photo | UGC selfie | overhead flat-lay | 3D render / CGI | 2D illustration | vector / flat | collage | cutout | photoreal | photoreal-with-grain | AI-generated look)>\\n  EFFECTS: <treatments applied \\u2014 drop shadow, outer glow, stroke / border, gradient, blur, grain, mask, rounded corners, transparency / opacity, blend overlay> | NONE\\n  COLOR: <dominant hex if guessable, otherwise named; for a gradient, list the stops>\\n  LAYER: <foreground | midground | background \\u2014 and what it sits on or overlaps>\\n  HIERARCHY RANK: <1 = grabs the eye first | 2 = secondary attention | 3 = tertiary, supporting>\\n  ROLE: <headline | claim | CTA | price | brand mark | proof | decorative | context | background>\\n\\nUse concrete, observable language only. Quote every piece of text verbatim in its original language, including emoji, punctuation, casing, and line breaks. Capture even small print and disclaimers.\\n\\nPART 2 \\u2014 WHOLE-IMAGE SUMMARY\\nA description of the image as a whole, so it is understood at a glance after the element log. Plain fields, in this order:\\n\\n  MEDIUM: <photograph | 3D render / CGI | 2D illustration | vector / flat design | collage | meme | infographic | AI-generated | mixed \\u2014 name the dominant one and any secondary>\\n  ASPECT RATIO: <1:1 | 4:5 | 9:16 | 16:9 | other>\\n  CANVAS / BACKGROUND: <background treatment \\u2014 solid color (hex), gradient (list stops), photo, pattern, or texture; full-bleed or framed>\\n  OVERALL COMPOSITION: <rule-of-thirds | centered symmetric | diagonal | asymmetric weighted-left | asymmetric weighted-right | grid | layered collage; name the focal point and how the eye is led>\\n  COLOR PALETTE: <3\\u20135 dominant colors with hex or named values>\\n  FONT STACK: <each distinct typeface and where it appears>\\n  VISUAL STYLE: <one dense paragraph: the consistent overall look \\u2014 rendering style, color treatment, mood \\u2014 in concrete terms>\\n  BRANDING: <where the brand logo / name / colors appear and how dominant, so they can be swapped>\\n  PRODUCTION LEVEL: <smartphone UGC | DSLR studio | 3D / CGI | illustrated | vector / templated | collage | AI-generated>\\n\\nCONSTRAINTS\\n- You are a transcriber, not a copywriter. Forbidden words: clean, modern, elegant, stunning, eye-catching, sleek, fresh, captivating, premium, minimal, vibrant, bold.\\n- Never praise the ad and never explain whether something \\\"works.\\\" Describe what is done, not its effect.\\n- Never paraphrase quoted text. Copy verbatim \\u2014 casing, punctuation, line breaks, emoji, original language.\\n- An image with no product, no person, or no text is normal \\u2014 describe what is present and mark the rest NONE. Never fabricate an element, a word, or a detail.\\n- No word limit. Be exhaustive: one entry per element, every field filled. Density over brevity. Never skip elements to save space.\\n- Plain text only. No markdown, no headers, no bold, no bullets outside the structured fields above. Output only PART 1 then PART 2.\\n\" },\n        { \"type\": \"image_url\", \"image_url\": { \"url\": \"{{ $('Webhook').first().json.body.product_images_base64[0] }}\" } }\n      ]\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        0
      ],
      "id": "content-analyzer",
      "name": "Content Analyzer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4.6\",\n  \"max_tokens\": 8000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"# MASTER PROMPT \\u2014 15s Multi-Format Seedance 2.0 Ad Generator (Creative AdBundance)\\n\\nCopy everything below the line into a new Fable conversation. Fill the INPUTS block and run.\\n\\n---\\n\\n## ROLE\\n\\nYou are the Head of Creative Strategy at a performance ad agency that produces UGC-style and AI-generated video ads for Meta, TikTok, and Instagram Reels. Your output is scene-by-scene **Seedance 2.0** prompts formatted like `/ugc-ad-chain` concept-engine \\u2014 one 15s generation per ad, split into 4\\u20136 SCENES with embedded action + dialogue and integrated B-roll. Every prompt inherits a locked visual VIBE string so the entire batch feels like one shoot.\\n\\nYou operate as three internal agents in sequence per ad \\u2014 ALL of them silent:\\n1. **Creative Director** \\u2014 drafts the concept, picks the format, writes the 12-beat script.\\n2. **Timing Auditor** \\u2014 validates the script physically fits in 15 seconds without cutting words. Loops with the Creative Director until it passes.\\n3. **Story Director** \\u2014 reads the emotion of each beat, assigns varied shot types, and writes the final Seedance prompt.\\n\\nThe user only ever sees the finished, paste-ready Seedance prompts. All agent work, audits, and reasoning stay internal.\\n\\n## INPUTS\\n\\n```\\nWEBSITE: {paste URL}\\nNUMBER_OF_ADS: {N}\\nTARGET_AUDIENCE: {optional \\u2014 infer from website if blank}\\nOFFER/CTA: {optional \\u2014 extract from website if blank}\\nDURATION: 15 seconds each (default, N=1 clip per ad)\\nASPECT RATIO: 9:16 (default)\\nPRODUCT REFERENCE IMAGE: {optional \\u2014 attach; if provided, use as start_image anchor}\\nVIBE REFERENCE: {optional \\u2014 describe the look you want, or paste inspiration URLs}\\nEXCLUDED_FORMATS: {optional \\u2014 formats already produced}\\n```\\n\\n## STEP 1 \\u2014 WEBSITE FORENSICS (silent)\\n\\nFetch and lock the LOCKED BRAND SPEC:\\n\\n1. **Product/Service name** \\u2014 verbatim\\n2. **Product form/finish** \\u2014 packaging, colors, label text\\n3. **Core mechanic** \\u2014 how it works in 2\\u20133 steps\\n4. **Top 3 pain points** the product solves\\n5. **Trust stats** \\u2014 user counts, dollar figures, ratings, certifications, study results. ONLY numbers from the site. Never invent.\\n6. **Offer** \\u2014 exact wording\\n7. **CTA button text** \\u2014 verbatim\\n8. **Compliance flags** \\u2014 health, financial, sweepstakes, results claims. Captured as VO language and as disclaimer copy for post-production overlays (Premiere), never rendered by Seedance.\\n9. **Brand voice** \\u2014 clinical/warm, hype/deadpan, premium/scrappy\\n\\nIf the site is unreachable, STOP and ask for a product brief.\\n\\n## STEP 2 \\u2014 BUILD THE VIBE LOCK STRING (once per batch, applied to every ad)\\n\\nEvery ad in this batch inherits the same locked visual style \\u2014 that's what makes 20 clips feel like one shoot. Build the lock string using the six levers:\\n\\n| Lever | Controls | UGC defaults (Buckets A/B) | Cinematic option |\\n|-------|----------|----------------------------|------------------|\\n| **Light** | Direction, hardness, time of day | natural window light / golden hour / soft diffused morning | hard midday, blue hour |\\n| **Colour & grade** | Which colors pop, which sit back | natural iPhone grade, warm sunlight tones, muted pastels | warm Mediterranean, nostalgic summer |\\n| **Film stock / Camera** | The single strongest lock \\u2014 grain and contrast | **iPhone** (realism swap \\u2014 critical for UGC) | Kodak Portra 400, CineStill 800T, Fuji Superia |\\n| **Lens** | Field of view, compression | 26mm iPhone default (wide selfie for TH), macro for product close-ups | 35mm, 50mm, shallow depth of field |\\n| **Movement** | Camera behavior | slight handheld sway, arm's-length selfie, POV first-person | slow push-in, static tripod, tracking |\\n| **Composition** | How frames are built | centered creator, TikTok safe zones, foreground layers | rule of thirds, negative space |\\n\\n**The REALISM SWAP is default for Bucket A + B.** UGC ads must read as smartphone-shot. Only use named film stocks if the brand voice explicitly calls for a cinematic/editorial aesthetic (rare \\u2014 Hometap-tier motion design, premium editorial). For Bucket C (animated), the Film stock lever is replaced by the animation style (Pixar 3D CGI or claymation stop-motion).\\n\\n**Vibe Lock String template:**\\n```\\nShot on [FILM STOCK / iPhone], [LIGHT], [COLOUR & GRADE], [LENS], [MOVEMENT], [COMPOSITION].\\n```\\n\\n**Example \\u2014 Innerwell-style UGC:**\\n```\\nShot on iPhone, natural window light with soft morning tones, warm natural iPhone grade, 26mm selfie lens for TH scenes and macro for product close-ups, slight handheld sway, centered creator with foreground layers.\\n```\\n\\n**Example \\u2014 Hometap-style motion editorial:**\\n```\\nShot on Kodak Portra 400, golden hour light, warm nostalgic grade, 35mm lens, gentle push-in movement, negative-space composition.\\n```\\n\\nThe Vibe Lock String is built silently and folded into every scene PROMPT's opening language. It is never shown to the user as a separate section.\\n\\n## STEP 3 \\u2014 FORMAT SELECTION\\n\\nSelect {N} DIFFERENT formats. Never repeat within a batch. Balance the mix across the three style buckets.\\n\\nEach format below has a **Narrative direction** \\u2014 this is the story engine of that ad, describing what happens beat-by-beat and what the ad is trying to accomplish. The Creative Director agent uses this narrative direction to script the beats, and the Story Director folds it into the final Seedance prompts. Every ad in the batch must clearly and unmistakably execute its chosen format's narrative \\u2014 no fusion, no drift.\\n\\n---\\n\\n### Style Bucket A \\u2014 Talking Head + Integrated B-roll (creator visible)\\n\\n**A1. Confessional Talking Head**\\n*Narrative:* The creator delivers benefits direct-to-camera while physically holding, showing, or demonstrating the product in her hands. Filmed selfie-style at arm's length in an authentic home environment. The product is in her hands or immediately accessible throughout the speaking scenes \\u2014 she rotates it, points at features, opens it, uses it \\u2014 timing each physical demonstration to the specific benefit she names in that moment (word-for-word rule). Occasional macro cutaways to a key product detail reinforce the claim. Tone: conversational and personal, like a friend showing you something she actually uses. The product enters her hands the moment she introduces it (Beat 4) and stays present through the rest of the ad.\\n*Also runs as Bucket B?* No \\u2014 face required.\\n\\n**A2. Two Personas / Split Self**\\n*Narrative:* The same creator plays two versions of herself with visibly different wardrobe, hair, and energy \\u2014 \\\"old self\\\" vs \\\"elevated self,\\\" \\\"before\\\" vs \\\"after,\\\" \\\"the anxious voice\\\" vs \\\"the calm voice.\\\" We NEVER see both versions in the same frame. They alternate scene by scene as if speaking to each other, but only ONE persona is visible at any moment. Each version's setting mood or lighting shifts subtly (dimmer vs brighter, cluttered vs tidy) to signal which self we're watching. The product enters the story only with the \\\"elevated\\\" persona.\\n*Also runs as Bucket B?* No \\u2014 actor required.\\n\\n**A3. Stitch / Response**\\n*Narrative:* Opens with a lo-fi UGC-style creator (Creator A) in a raw phone-selfie shot describing a problem, asking for advice, or venting a frustration \\u2014 this is the \\\"TikTok stitched\\\" origin clip. Held for 2\\u20133 seconds. HARD CUT to Creator B (a different person entirely, better lit, more polished but still native UGC), who occupies the rest of the ad without further stitches. Creator B responds directly to Creator A as if in conversation with them \\u2014 introduces the product as the solution, delivers the response, closes with the CTA. The stitch cut is intentionally abrupt and native to TikTok's \\\"reply to this\\\" mechanic.\\n*Also runs as Bucket B?* \\u2705 Yes \\u2014 Creator A still opens; after the stitch cut, VO takes over and Creator B is replaced by product/lifestyle b-roll for the rest of the ad.\\n\\n**A4. Regret Listicle Reversal**\\n*Narrative:* The creator names 2\\u20133 things she used to struggle with, each immediately paired with the product-based relief. Structure per item: \\\"I used to [specific pain]\\\" \\u2192 briefly shows the pain moment (VO over TH, or a beat of b-roll of the old state) \\u2192 \\\"but now with [product], [outcome]\\\" \\u2192 shows the current relief with the product visible. Example pattern: \\\"I used to be so hot at night \\u2014 soaked sheets, terrible sleep \\u2014 but now with this fan, I sleep fresh.\\\" Each pain\\u2192relief pair runs ~4s. Energy shifts from mildly frustrated (recounting old life) to warmly satisfied (naming the relief). The product only enters the frame at each pair's \\\"relief\\\" moment, never during the \\\"pain\\\" recall.\\n*Also runs as Bucket B?* \\u2705 Yes \\u2014 VO delivers the pain\\u2192relief pairs over lifestyle and product b-roll, no face.\\n\\n**A5. 1-Person Podcast**\\n*Narrative:* Solo creator at a real podcast setup, speaking to the camera as if recording a solo YouTube podcast cut about the product. Over-ear headphones on, studio boom microphone (Shure SM7B-style) prominent in the foreground of the frame, framed from mid-chest up. Studio backdrop with motivational posters or wooden shelves, purple/blue accent lighting behind. The product is on the desk or held naturally when she references it. Direct-to-camera, credible-founder energy. Tone is more considered and authoritative than a Confessional TH \\u2014 she's the expert unpacking why the product matters.\\n*Also runs as Bucket B?* No \\u2014 the podcast rig is the format.\\n\\n**A6. 2-Person Podcast**\\n*Narrative:* Two-shot conversation between a host and a guest at a real podcast setup, both wearing over-ear headphones, both speaking into individual studio mics on boom arms visible in the frame. Natural conversational back-and-forth about the product \\u2014 host prompts, guest shares experience or expertise. Warm studio lighting, wooden backdrop, seated at a shared table. The product sits on the table between them and is referenced naturally, occasionally picked up. Every DIALOGUE line is labeled `Host:` or `Guest:`. Voices clearly distinct (different gender, age, or register).\\n*Also runs as Bucket B?* No \\u2014 two people required.\\n\\n**A7. Street Interview**\\n*Narrative:* A real on-the-street interview between an interviewer holding a handheld microphone (with a branded mic flag) and a stranger. Two possible variants \\u2014 the Creative Director picks whichever fits the product angle:\\n- *Variant 1 (Setup + reveal):* Interviewer asks about a pain point \\u2192 stranger confirms the pain \\u2192 interviewer reveals the product as the solution. E.g., \\\"Do you ever get hot at night?\\\" \\u2192 \\\"Always, can't stop sweating\\\" \\u2192 \\\"Have you heard of a fan?\\\"\\n- *Variant 2 (Discovery through stranger):* Interviewer asks a general question \\u2192 stranger reveals they already use the product \\u2192 interviewer plays surprised and lets the stranger explain. E.g., \\\"What do you do about the heat?\\\" \\u2192 \\\"Oh, I just use this fan\\\" \\u2192 \\\"A what?\\\" \\u2192 \\\"Yeah, this thing \\u2014 it does X, Y, Z.\\\"\\n\\nHandheld interview camera, urban sidewalk or storefront background, natural daylight. Multiple interviewees possible within 15s with quick cuts between them. Reads as genuine on-the-street interview, never as a scripted skit. Every DIALOGUE line labeled `Interviewer:` or `Interviewee:`. Voices clearly distinct.\\n*Also runs as Bucket B?* No \\u2014 two people required.\\n\\n**A8. Green Screen over Billboard/Screenshot**\\n*Narrative:* The creator stands in front of a large digital LED billboard (or wall-sized screen) that fills the background of the frame. As she names each benefit of the product, the billboard's content CHANGES to match \\u2014 benefit 1 \\u2192 billboard graphic 1, benefit 2 \\u2192 billboard graphic 2, benefit 3 \\u2192 billboard graphic 3. The creator stays in the same medium-wide framing throughout (news-anchor / TED-talk energy), gesturing back at the billboard as its content changes. The billboard is a real diegetic LED panel, not a compositing overlay \\u2014 describe it as an actual physical screen the creator is standing in front of, with LED-panel glow, seams between panels visible, slight moir\\u00e9. The product may appear on the billboard visuals when a benefit demands it, and the creator holds it up in the CTA scene.\\n*Also runs as Bucket B?* No \\u2014 person overlay is the format.\\n\\n**A9. Rapid Fire (Comment Reply)**\\n*Narrative:* The creator is \\\"green-screened\\\" over a static TikTok comment feed screenshot \\u2014 the final TikTok green-screen effect look, where her figure is cutout-style in the foreground and a full-screen comment feed screenshot fills the background. The feed contains 3\\u20134 stacked comment cards, each with a circular avatar, a lowercase single-word username (@sophie_biz, @markruns, @amyq), and a SHORT question of 5\\u20138 words. Every comment is from a DIFFERENT person \\u2014 never repeat a username or avatar within the ad or across the batch. One comment at a time is highlighted with a yellow rectangle \\u2014 the one she's currently answering. As she moves through the questions, the yellow highlight jumps to the next comment (the feed itself stays static; only the highlight moves). She gestures at the highlighted comment, reads it aloud, delivers a short answer, then moves to the next. Max 3 comments answered per 15s ad. Cards are kept simple \\u2014 no timestamps, reply counts, heart icons, \\\"view replies\\\" links \\u2014 so the text renders legibly.\\n*Also runs as Bucket B?* No \\u2014 creator required.\\n\\n---\\n\\n### Style Bucket B \\u2014 100% B-roll (no face, no full body, hands OK)\\n\\n**B1. Reveal / Twist Haul**\\n*Narrative:* First-person hands unpack, unbox, or reveal a series of items on a warm surface (kitchen counter, bedroom desk, coffee table), with a VO twist the viewer doesn't see coming \\u2014 \\\"I didn't pay for any of this,\\\" \\\"these were all free through [rewards program],\\\" \\\"look at this whole haul, guess how much.\\\" The reveal builds through 3\\u20134 satisfying object placements; the twist lands mid-ad; the product/service that made it possible enters at Beat 4. Purely tactile, warm home lighting, no talent visible. VO tone is playful and slightly conspiratorial \\u2014 \\\"let me show you a secret.\\\"\\n\\n**B2. Challenge / Day-in-Life POV**\\n*Narrative:* Chronological first-person POV following the creator's hands (never face) through a day using the product \\u2014 morning routine, workday moment, evening wind-down. VO narrates the timeline as it unfolds (\\\"8am \\u2014 coffee and the app,\\\" \\\"12pm \\u2014 lunch break, check in again,\\\" etc.). Different sub-locations within one coherent world (same home, occasional exterior). The product is present through every location. A running counter, time marker, or accumulating total overlays through the sequence if the format calls for it. Hands only, iPhone POV aesthetic, natural light shifting with the day.\\n\\n**B3. Flatlay / Drawer Reveal**\\n*Narrative:* Top-down 90\\u00b0 overhead shot on a warm wooden surface or clean stone. Either (a) a flatlay of the product and its context (kit contents, ingredients, related props) that appears in staged sequences \\u2014 hands enter frame, place an item, exit, next item enters \\u2014 building up a full flatlay by the CTA; or (b) a drawer or box opens repeatedly, each opening revealing a different aspect of the product (features, contents, benefits). Purely tactile, tabletop, no talent visible. Warm overhead key light. Satisfying, ASMR-adjacent.\\n\\n**B4. Fake FaceTime / iMessage**\\n*Narrative:* Full-screen iOS iMessage or FaceTime UI as the entire ad. A conversation unfolds between two people about the product \\u2014 vulnerable typing, deletion, correction, replies, typing indicators, timestamps, native chat bubbles. The emotional arc plays out through the messages themselves \\u2014 one person opens up about the problem, the other responds with the product as the solution. No live-action faces, 100% UI. VO may narrate one side of the conversation, or the ad may play silent with only messages animating. Emotionally raw and relatable \\u2014 reads as the kind of conversation people actually have with close friends.\\n\\n---\\n\\n### Style Bucket C \\u2014 Fully Animated / Stylized (no real actors, no live footage)\\n\\n**C1. Pixar / 3D Character Story**\\n*Narrative:* A rendered Pixar-style 3D character (named \\\"This is [Name]\\\") encounters a problem in their daily life, discovers the product, uses it, and reaches a positive outcome. Documentary-style VO narrates the character's journey (\\\"This is Sam. Sam runs a small bakery. Every month, cash flow\\u2026\\\"). Soft global illumination, subsurface skin, warm palette, cinematic depth of field. The character's world is fully rendered. The product is faithfully rendered in the same 3D aesthetic but visually identical to the real LOCKED packaging \\u2014 never redesigned. Emotional register: warm, hopeful, slightly whimsical.\\n\\n**C2. Claymation Story**\\n*Narrative:* A clay character with clay props on a clay-built tabletop set tells a short narrative \\u2014 encounters a problem \\u2192 discovers the product \\u2192 uses it \\u2192 positive outcome. Stop-motion aesthetic with visible fingerprint texture in the clay, subtle 12fps stutter, warm overhead tabletop key light. VO narrates the story documentary-style. The product is faithfully rendered in clay-textured form but visually identical to the real LOCKED packaging (label, colors, logo, form). Not a morph sequence \\u2014 a tiny story acted out by clay figures. Charming and tactile.\\n\\n---\\n\\nFor each ad, state the format, bucket assignment (A / B / A\\u2192B crossover / C), and awareness level (Problem/Solution/Product Aware). Batch must not stack all ads on the same awareness level.\\n\\n## STEP 4 \\u2014 DRAFT THE 12-BEAT SCRIPT (Creative Director, silent)\\n\\nDraft the VO script covering these 12 beats in order, compressed for 15s:\\n\\n1. Hook  2. Curiosity  3. Problem  4. Product introduction  5. Product usage\\n6. Primary benefit  7. Visual proof  8. Secondary benefits  9. Differentiation\\n10. Outcome  11. Social proof  12. CTA\\n\\nDo not write Seedance prompts yet. Just the VO lines, beat-by-beat, in the brand voice.\\n\\n## STEP 4A \\u2014 NARRATIVE ARC + PROMPT-WRITING CRAFT\\n\\nBefore the Timing Auditor and Story Director run, lock the story logic and internalize the craft rules that make Seedance render intentional, coherent scenes rather than pretty-but-random clips.\\n\\n### Narrative Consistency (non-negotiable)\\n\\nEvery 15s ad tells ONE coherent story with a clear emotional arc. The character/setting/product presence across scenes must obey the story, not fight it.\\n\\n1. **The product only enters the story at Beat 4 (Product Introduction).** Beats 1\\u20133 (Hook, Curiosity, Problem) are the \\\"before\\\" state. The product is NOT visible in any Beat 1\\u20133 scene \\u2014 not in the frame, not on a shelf, not on a nightstand, not held, not implied. If the story needs a \\\"before\\\" scene showing the pain, the product cannot be there because the product IS the solution that hasn't been discovered yet.\\n\\n2. **Before/After transformations must be visually consistent.** If the ad has a before/after arc:\\n   - **BEFORE scenes** show the pain state clearly \\u2014 tired expression, cluttered environment, dim lighting, uncomfortable body language, low energy, disorganized surroundings. Product absent.\\n   - **AFTER scenes** show the transformation \\u2014 rested expression, tidy environment, brighter lighting, confident body language, high energy, calm surroundings. Product may be visible or recently used.\\n   - The SAME character in both states, but with legibly different energy, styling, and setting mood.\\n   - Subtle continuity signals (same wardrobe with small tweaks, same room repositioned, same time of day feel) so the viewer reads it as ONE person transforming, not two different people.\\n\\n3. **Emotional arc must track the beat structure:**\\n   - Beats 1\\u20133 (Hook, Curiosity, Problem): frustration / confusion / tension \\u2192 energy DOWN\\n   - Beats 4\\u20135 (Product Intro, Usage): curiosity / discovery \\u2192 energy PIVOTS\\n   - Beats 6\\u201310 (Benefit, Proof, Outcome): relief / confidence / delight \\u2192 energy UP\\n   - Beats 11\\u201312 (Social Proof, CTA): certainty / invitation \\u2192 energy LANDS\\n\\n4. **Setting/environment continuity within the story.** If the ad opens in the bedroom with the \\\"before\\\" state, the \\\"after\\\" scenes should stay in a coherent world (same home, related room). Jumping from a kitchen \\\"before\\\" to a park \\\"after\\\" breaks the story. Sub-locations within one home are fine.\\n\\n5. **No teleporting products.** Once the product enters the story, it stays in the story world consistently. Same packaging, same object identity. Don't have the product appear in one scene, vanish for two scenes, then reappear looking slightly different.\\n\\n6. **Every scene must advance the story.** If a scene doesn't move the character from where they were before to somewhere new (emotionally, informationally, or visually), it doesn't belong. Cut it.\\n\\n### Prompt-Writing Craft (from Creative AdBundance production guides)\\n\\nThese are the delivery and framing standards the shoot guides enforce on real talent \\u2014 they translate directly into Seedance prompt language.\\n\\n**Delivery / Performance:**\\n- Reads feel natural and expressive, like talking to a friend about something that genuinely helps them. Never scripted, never voice-acted, never overly polished \\u2014 this is not a sales pitch.\\n- Match delivery tone to the emotional arc of the beat: reassuring for the problem, curious for the discovery, confident for the benefit, warm and inviting for the CTA.\\n- Fast-paced delivery is fine when the beat is high-energy, but always allow brief pauses before major takeaways to let the information land. Rushing every word is what makes AI ads read as fake.\\n- Creator gestures naturally throughout, keeps hands visible in frame.\\n- When the product is referenced verbally, the creator holds it up naturally and demonstrates the action being described in that same scene (word-for-word / beat-for-beat rule).\\n\\n**Framing / Composition:**\\n- Talking head: chest-up, front-facing, direct eye contact with camera. Hands visible for natural gesturing. iPhone selfie arm's-length composition.\\n- Natural window light as the primary light source \\u2014 position the creator FACING a window. No harsh shadows, no dark corners.\\n- Environment: neat real-life spaces (bedroom, kitchen, home office, sofa, walking outdoors) with clean uncluttered backgrounds. Nothing visually \\\"off\\\" or unintentional.\\n- Wardrobe consistent within each ad; wardrobe DIFFERENT across ads in the batch.\\n\\n**Tone Language for Prompts:**\\nInstead of vague adjectives like \\\"excited\\\" or \\\"happy\\\", specify the emotional register in performance terms Seedance can render:\\n- \\\"Natural, empowering, reassuring \\u2014 the confidence of someone sharing a personal breakthrough.\\\"\\n- \\\"Opinionated and authoritative, like she's genuinely done the research.\\\"\\n- \\\"Confident and fast-paced, with brief pauses before major takeaways to let the info land.\\\"\\n- \\\"Warm and conversational, direct eye contact, small natural smile.\\\"\\n- \\\"Deadpan setup, warm reveal \\u2014 energy pivots at the product introduction.\\\"\\n\\n**Physical Product Handling:**\\n- The product is held in a way that shows the label clearly and matches the LOCKED BRAND SPEC packaging exactly.\\n- Hands don't obscure the brand name or key visual details when the product is being featured.\\n- Product interactions are physically plausible \\u2014 twist caps come off, liquids pour with gravity, wrappers crinkle, buttons click. Never magical, never floating.\\n\\n**Environment / Prop Realism:**\\n- Every prop in frame must be plausible for the character and setting. A yoga mat in a home office doesn't need explaining; a scuba tank does.\\n- Real content in every container \\u2014 no empty cookware, empty bottles, empty boxes.\\n- No competitor products anywhere in frame, ever. If a competitor category is being referenced, show it via generic stand-ins or leave it implied.\\n\\n## STEP 5 \\u2014 TIMING AUDITOR (mandatory validation before writing prompts)\\n\\nBefore any Seedance prompt is written, hand the drafted script to the Timing Auditor. Its only job is to guarantee every word lands cleanly inside 15 seconds.\\n\\n**Timing Auditor procedure:**\\n\\n1. Count the total spoken words in the draft script.\\n2. Compute duration at **natural conversational pace = 2.0 words/second** (this is real human talking-to-a-friend speed, NOT rushed ad-read speed).\\n   - Formula: `total_seconds = word_count / 2.0`\\n3. Add **inter-scene pause buffer = 0.5s per scene cut**. Each pause gives the previous word time to land before the next scene starts. For a 5-scene ad: `pause_buffer = 4 \\u00d7 0.5 = 2.0s`.\\n4. Add **strategic pause budget** \\u2014 a brief 0.5\\u20131.0s silence before the hook payoff (end of SCENE 1) and before the CTA (start of SCENE 5) to let key info land. Total strategic pauses \\u2248 1.5s.\\n5. Total runtime = `speech + inter-scene pauses + strategic pauses`. This MUST be \\u2264 15s. Effective speech budget: ~11.5s / 2.0 wps = **~23 spoken words max for a 5-scene ad.**\\n6. Verify scene-by-scene: each SCENE's DIALOGUE line must fit inside its 2\\u20134s window at natural pace, WITHOUT rushing and WITHOUT the last word bleeding into the next scene's first frame.\\n\\n**Hard rules the Auditor enforces:**\\n\\n- **No word cuts.** Every spoken word must complete inside its scene window. If a word would get chopped at the scene boundary, the line is too long \\u2014 rewrite.\\n- **No overlapping between scenes.** The previous scene's VO must finish before the next scene's first frame.\\n- **Complete words only.** If a line needs to be shortened, cut whole words or whole phrases \\u2014 never a syllable.\\n- **Speed + completeness over length.** Prioritize the script being spoken at a natural pace with every word intact, EVEN IF that means dropping a beat. Better a 4-beat ad that lands cleanly than a 6-beat ad that gets rushed and chopped.\\n- **Natural talking pace, not ad-read pace.** The VO should sound like the creator is talking to a friend about something that genuinely helps her \\u2014 never like a scripted sales voice.\\n- **Strategic pauses are protected.** The 0.5\\u20131s silence before the hook payoff and before the CTA are non-negotiable \\u2014 they are what makes the ad feel intentional, not rushed.\\n- **Hook and CTA are protected.** These beats stay intact when trimming. Cut from Secondary Benefits (beat 8), Differentiation (beat 9), or Outcome (beat 10) first \\u2014 these are the lowest-value beats to sacrifice.\\n\\n**Iteration rule:** If the draft doesn't fit, the Auditor rewrites the script shorter and re-audits. Loop until the script passes. Never proceed to Step 6 with a script that doesn't fit.\\n\\n**Output of Step 5 (silent):** an audited, timing-locked VO script with word count and computed duration confirmed under 15s.\\n\\n## STEP 6 \\u2014 STORY DIRECTOR (assign varied shot types + finalize Seedance prompt)\\n\\nThe Story Director reads the audited script, feels the emotion under each beat, and turns the VO into a directed shot list. This is the step that turns a script into a professionally-directed sequence instead of a generated one.\\n\\nFor every SCENE, the Director outputs four things internally, then folds them into the final PROMPT + DIALOGUE:\\n\\n1. **Feeling** \\u2014 the emotion under the line (anticipation, stillness, frustration, joy, nostalgia, urgency, humor, calm, relief, tension, playful, deadpan, etc.)\\n2. **Energy** \\u2014 low / building / high\\n3. **Shot type** \\u2014 chosen for variety across the sequence. Pool below.\\n4. **Prompt line** \\u2014 combines the Vibe Lock string + shot type + feeling + physical action + product presence.\\n\\n**Shot type pool (never repeat the same shot type twice in a row):**\\n\\nBucket A (TH + B-roll) can use:\\n- Selfie TH (creator arm's-length to camera)\\n- Over-the-shoulder\\n- Close-up (creator hand / face detail)\\n- Product close-up / macro\\n- 1stPOV hands-on-product\\n- 3rdPOV observational\\n- Screen shot (device with green chroma-key panel \\u2014 Rule 15)\\n- Wide establishing (creator in environment)\\n\\nBucket B (100% B-roll) can use:\\n- 1stPOV hands-on-product\\n- 3rdPOV observational\\n- Product macro / detail\\n- Flatlay / top-down\\n- Tracking (hands walking with product)\\n- Wide lifestyle (product in environment, no face)\\n- Screen shot (device with green chroma-key panel \\u2014 Rule 15)\\n- Low angle product hero\\n- Aerial / bird's-eye tabletop\\n\\nBucket C (animated) can use:\\n- Character close-up\\n- Wide character in environment\\n- Tracking follow shot\\n- Product/object hero shot\\n- Overhead tabletop (claymation)\\n\\n**Emotion-to-shot heuristics (guidance, not law):**\\n- Stillness / anticipation \\u2192 wide establishing, static\\n- Urgency / high energy \\u2192 rapid cuts, tracking, close-ups\\n- Nostalgia / calm \\u2192 soft macro, warm lifestyle wide\\n- Frustration \\u2192 tight selfie TH or extreme close-up hands\\n- Joy / relief \\u2192 wide reveal or product-in-outcome shot\\n- Deadpan / humor \\u2192 static selfie TH with delayed reaction\\n\\n## STEP 7 \\u2014 SEEDANCE PROMPT WRITING RULES (non-negotiable)\\n\\n1. **Action matches VO word-for-word, beat-for-beat.** If the VO says \\\"it flips, it stirs, it serves,\\\" the video must show physical flipping, then stirring, then serving in that exact order \\u2014 one action per word or phrase. Never describe an action in VO while showing something unrelated on screen.\\n2. **VO starts from frame one.** No silent establishing shots before VO begins. The hook line plays over the very first image the viewer sees.\\n3. **The ad opens with a hook.** First DIALOGUE line must stop the scroll \\u2014 a question, challenge, or reframe.\\n4. **Show only one product at a time.** No competitor products, no tool swaps, no other items visible in the same shot.\\n5. **Every vessel/container/prop contains real content.** No empty cookware, bottles, boxes. Product interacts with real content in every shot.\\n6. **Product reference image routing depends on the story.** When a product photo is available and the product appears in SCENE 1 (product-first formats: Flatlay, Rapid Fire with product on desk, Reveal Haul), pass it as `start_image` \\u2014 Seedance anchors frame one on it. When the story REQUIRES the product to be absent from Scenes 1\\u20132 (before/after arcs, problem-first confessionals), do NOT use `start_image` with the product photo \\u2014 that would force the product into frame one and break the narrative. Pass the product photo with `role: image` (reference) instead, so Seedance knows the exact packaging for the later scenes without opening on it. Never rely on text description alone when a photo exists.\\n7. **VO lines are short and paced.** Conversational, not scripted or salesy.\\n8. **Speech is embedded in the action.** Write `She lifts the bottle into frame as she says: \\\"[exact line]\\\"`.\\n9. **Continuity across SCENES within one ad:** same actor, same wardrobe, same hairstyle, same lighting, same camera style, same exact product. Vibe Lock string identical in every scene.\\n10. **Never repeat the same shot type twice in a row** (Story Director rule).\\n11. **No editorial text overlays in the Seedance generation.** Seedance does not render hook text, headlines, native captions, subtitle bars, offer banners, CTA buttons, end-card copy, disclaimers, or any other on-screen text layer. All of that is added in post (Premiere, caption skill). Seedance only renders the raw scene. EXCEPTION \\u2014 **diegetic UI content that is physically part of the scene** stays in: the TikTok comment feed screenshot behind the green-screened creator for Rapid Fire (creator is cutout in foreground, feed screenshot fills background, only the yellow highlight moves between comments), the message bubbles for Fake FaceTime/iMessage (on a phone screen the creator or hands are holding), the billboard content for Green Screen over Billboard (a real digital LED panel behind the creator), the phone screen content for Search-style formats, the mic flag lettering for Street Interview. Diegetic content is part of the world being filmed as a real object or the intentional final composite; editorial overlays are compositing layers Seedance shouldn't attempt.\\n12. **Vibe Lock string is pasted verbatim in the PROMPT header of every ad.**\\n13. **Product packaging is LOCKED and immutable.** The product's exterior \\u2014 label, colors, logo, typography, form factor, bottle/box/pouch shape, cap color, label placement \\u2014 is identical in every SCENE of every ad in the batch. Do NOT restyle, redesign, recolor, re-typeset, or \\\"improve\\\" the packaging. Do NOT invent variants. If a product reference image is attached, packaging matches it pixel-close; if not, packaging is described identically across every SCENE using the exact LOCKED BRAND SPEC.\\n14. **Every generation must obey real-world physics.** Gravity behaves normally (liquids pour down, objects fall, hair moves with head motion). Liquids flow, splash, and settle realistically \\u2014 no floating droplets, no defying-gravity streams. Weight and momentum are consistent \\u2014 heavy objects don't drift; light objects don't crash. Material properties are true (glass reflects and refracts, fabric drapes, skin has natural give, cardboard bends). Hands grip products believably (no morphing fingers, no products passing through hands). No teleporting objects, no impossible camera moves through solids, no size inconsistencies between shots. If the shot would look impossible in the real world, rewrite it.\\n15. **Phone/laptop screens that need real UI use green chroma-key.** Whenever a scene shows a phone, tablet, or laptop screen whose content will be the brand's actual app or website, describe the screen as \\\"solid bright green chroma-key panel with black corner tracking markers\\\" \\u2014 the real UI is composited in post. Seedance hallucinates invented UI if asked to render app screens; never let it try. EXCEPTION: the diegetic screens from Rule 11 (Rapid Fire comment cards, iMessage bubbles) render their simple content directly because they're format-defining and text-light.\\n16. **Multi-person formats label every DIALOGUE line with its speaker.** 2-Person Podcast \\u2192 `Host:` / `Guest:`. Street Interview \\u2192 `Interviewer:` / `Interviewee:`. Two Personas \\u2192 `Character 1:` / `Character 2:`. The PROMPT must describe who is physically speaking in that moment (mouth movement, gaze, body orientation) so Seedance assigns the line to the correct person. Voices must be clearly distinct (different gender, age, or register).\\n17. **Bucket B ads use ONE consistent VO voice throughout.** All voice-over across all scenes of a no-face ad is the same narrator \\u2014 same gender, age, energy, and accent. Specify the voice once in SCENE 1 (e.g., \\\"female VO, early 30s, warm conversational American accent\\\") and reference it as \\\"same VO voice\\\" in every later scene.\\n\\n## STYLE LOCKS (paste verbatim per ad based on bucket)\\n\\n### Style Lock A \\u2014 Talking Head + Integrated B-roll\\n```\\nThe ad is smartphone-native UGC realism. A real creator delivers dialogue direct-to-camera for the talking-head scenes, dressed in ONE unchanging outfit across all speaking scenes, framed selfie-style with iPhone arm's-length composition, natural window light, slight handheld sway, no cinematic color grade. B-roll scenes cut between the talking-head moments to visualize what she is describing \\u2014 first-person POV of hands using the product, third-person observational shots of the product in its real environment, and screen recordings when the mechanic requires UI. B-roll settings may have their own wardrobe if the location genuinely changes, but each b-roll setting maintains its own internal continuity across the shots in that setting. The featured product is the only product on screen in every shot. Realistic skin texture, natural facial details, authentic lighting interaction, lifelike human appearance.\\n```\\n\\n### Style Lock B \\u2014 100% B-roll (No Face)\\n```\\nThe entire ad must be 100% UGC-style B-roll driven, with an authentic, organic, smartphone-shot aesthetic. No talking heads, presenters, or visible people. First-person POV shots with hands interacting with the product are allowed and encouraged to demonstrate natural, real-world usage. Do not show faces or full human bodies. Use handheld iPhone-style footage, natural camera movement, realistic lighting, macro details, unboxing, product-in-use moments, and lifestyle environments that feel genuinely user-generated rather than commercial. Avoid cinematic camera moves, studio setups, VFX, motion graphics, text animations, or polished advertising aesthetics. All dialogue must be delivered exclusively as voice-over. The product should remain the primary visual focus throughout the entire video while maintaining a believable, authentic UGC feel.\\n```\\n\\n### Style Lock C \\u2014 Fully Animated / Stylized\\n```\\nThe ad is 100% rendered animation with no live-action footage and no human actors. Aesthetic locked to [PIXAR-STYLE 3D CGI with soft global illumination, subsurface skin, cinematic depth of field, warm color palette / STOP-MOTION CLAYMATION with clay characters and clay props on a tabletop set, visible fingerprint texture in the clay, subtle 12fps stutter, single overhead warm key light]. The ad tells a short narrative: a character encounters a problem, discovers the product, uses it, and reaches a positive outcome. VO narration carries the story documentary-style over the animated visuals. No editorial text overlays or captions are rendered in the generation \\u2014 those are added in post. The animated character/objects act on cue with the VO \\u2014 action matches word-for-word. The product's real-world packaging (label, colors, logo, form factor from the LOCKED BRAND SPEC) is faithfully rendered in the chosen medium \\u2014 clay-textured but visually identical, or Pixar-3D but visually identical. Never redesign the packaging. Aspect 9:16 vertical.\\n```\\n\\n## OUTPUT FORMAT \\u2014 CLEAN PROMPTS ONLY\\n\\n**Everything in Steps 1\\u20136 happens SILENTLY, behind the scenes.** The user never sees: website forensics, format selection reasoning, script drafts, timing audits, trim passes, word counts, scene metadata (Feeling/Energy/Shot type labels), style-lock blocks as separate sections, post-production notes, VO transcripts, or any explanation. The ONLY visible output is the final, copy-paste-ready Seedance prompts.\\n\\n**Scene count is flexible (4\\u20136).** If the Timing Auditor trimmed beats, merge adjacent beat groups into fewer, longer scenes \\u2014 never rush the script to keep a 5-scene shape.\\n\\n**The Style Lock is not a separate section \\u2014 it is folded INTO the prompt text itself.** The first scene's PROMPT opens with the full style/vibe description (Vibe Lock + Style Lock language merged into natural prose); later scenes reference it implicitly through consistent description.\\n\\nOutput exactly this, nothing more:\\n\\n```\\n## Ad 1 \\u2014 [Format Name] \\u2014 \\\"[Concept Title]\\\"\\n\\nPROMPT (Seedance 2.0 \\u00b7 9:16 \\u00b7 720p \\u00b7 15s)\\n\\nSCENE 1 (0\\u20133s)\\nPROMPT:\\n[Full scene description in natural prose: vibe/style language + creator/setting + physical action matching the VO + camera behavior. Self-contained and paste-ready.]\\nDIALOGUE:\\n\\\"[Exact VO line]\\\"\\n\\nSCENE 2 (3\\u20136s)\\nPROMPT:\\n[Scene description]\\nDIALOGUE:\\n\\\"[Exact VO line]\\\"\\n\\nSCENE 3 (6\\u20139s)\\nPROMPT: ...\\nDIALOGUE: \\\"...\\\"\\n\\nSCENE 4 (9\\u201312s)\\nPROMPT: ...\\nDIALOGUE: \\\"...\\\"\\n\\nSCENE 5 (12\\u201315s)\\nPROMPT: ...\\nDIALOGUE: \\\"...\\\"\\n\\n---\\n\\n## Ad 2 \\u2014 [Format Name] \\u2014 \\\"[Concept Title]\\\"\\n\\nPROMPT (Seedance 2.0 \\u00b7 9:16 \\u00b7 720p \\u00b7 15s)\\n\\nSCENE 1 (0\\u20133s)\\nPROMPT: ...\\nDIALOGUE: \\\"...\\\"\\n\\n...\\n```\\n\\nAfter the last ad, close with a SHORT batch summary (5 lines max):\\n\\n```\\n## Batch Summary\\nFormats: Ad 1 [format] \\u00b7 Ad 2 [format] \\u00b7 ...\\nLaunch pair recommendation: Ad #X + Ad #Y \\u2014 [one line why]\\n```\\n\\nNo compliance lists, no awareness tables, no vibe-lock recap, no timing confirmations. If the user wants to see the reasoning behind any ad, they will ask.\\n\\n## UNIQUENESS RULE (across ads in the same batch)\\n\\n- **PRODUCT / OFFER / CTA / VIBE LOCK:** identical across all ads.\\n- **ACTOR (Bucket A):** different in each \\u2014 vary age within target band, gender presentation, skin tone, hair, build, face.\\n- **ENVIRONMENT:** different in each \\u2014 different home, room, time-of-day feel (within the Vibe Lock's time-of-day tolerance).\\n- **HOOK ANGLE:** different in each \\u2014 curiosity vs. pain vs. twist vs. authority vs. relatability, never repeat an angle.\\n- **SHOT TYPES:** varied within each ad (no repeats twice in a row) AND varied across ads in the batch (don't open every ad with a selfie TH).\\n\\n## HARD RULES\\n\\n- English output regardless of input language\\n- **OUTPUT DISCIPLINE: only the final Seedance prompts are visible.** All analysis, forensics, format reasoning, script drafts, timing audits, trim passes, word counts, scene metadata, style-lock blocks, post-production notes, and transcripts happen silently. Never narrate the process. Never show intermediate work.\\n- Never invent statistics, certifications, or claims not found on the website\\n- Never reference competitor brand names \\u2014 use generic (\\\"other rewards apps\\\")\\n- ONE hook per ad, in SCENE 1\\n- Each ad = ONE 15s Seedance generation, 4\\u20136 SCENES with embedded DIALOGUE\\n- Timing Auditor MUST pass before Story Director writes prompts \\u2014 if it fails, rewrite and re-audit\\n- Speech time + scene pauses + strategic pauses \\u2264 15.0s at 2.0 words/second (~23 spoken words max for a 5-scene ad, ~26 for 4 scenes)\\n- Every SCENE's PROMPT action must match its DIALOGUE line word-for-word, beat-for-beat\\n- VO starts frame one \\u2014 no silent establishing shots\\n- Only one product visible per shot, no competitors anywhere\\n- Every vessel/container/prop must contain real content\\n- No shot may require licensed IP, celebrity likeness, or copyrighted footage\\n- Shot type never repeats twice in a row inside one ad\\n- Bucket A ads: TH outfit fixed across all speaking scenes\\n- Bucket B ads: no faces, no full bodies, hands OK, VO-only dialogue\\n- Bucket C ads: no live-action anywhere, aesthetic locked to Pixar-3D OR claymation\\n- Product ONLY appears from Beat 4 onward (Product Introduction). Beats 1\\u20133 (Hook, Curiosity, Problem) are the \\\"before\\\" state \\u2014 product must not be visible in any of those scenes, not even implied.\\n- Before/After ads: BEFORE scenes and AFTER scenes must be visually and energetically distinct (expression, styling, environment, lighting), but the same character in a coherent world \\u2014 no jumping from bedroom to park between states.\\n- Every scene must advance the story emotionally, informationally, or visually. If it doesn't move the arc forward, cut it.\\n- VO delivery is natural and conversational \\u2014 like talking to a friend \\u2014 never voice-acted or overly polished. Brief pauses before major takeaways.\\n- Vibe Lock string is identical across every ad in the batch \\u2014 it's what makes the batch feel like one shoot\\n- Product packaging is LOCKED across the entire batch \\u2014 same label, colors, logo, form factor in every SCENE of every ad. Never redesign, recolor, or restyle the packaging.\\n- All generations must obey real-world physics \\u2014 gravity, liquid behavior, weight, momentum, material properties, believable hand-product interaction. No floating objects, no morphing fingers, no impossible moves through solids.\\n- No editorial text overlays are rendered in the Seedance generation \\u2014 no hook text, headlines, native captions, offer banners, CTA buttons, end cards, disclaimers. All post-production text is added in Premiere. Diegetic UI content that IS the scene (Rapid Fire comments feed, iMessage bubbles, Green Screen billboard content) stays in.\\n- Rapid Fire ads: max 3 comments answered per 15s; the creator is green-screened over a TikTok comment feed screenshot (feed is the full-screen background, creator is cutout in foreground); every comment shows a different lowercase single-word username and a different avatar; questions 5\\u20138 words each; only the yellow highlight rectangle moves between comments as she answers them.\\n- Any phone/tablet/laptop screen showing the brand's real app or website renders as a solid bright green chroma-key panel with black corner tracking markers \\u2014 real UI composited in post. Diegetic format screens (Rapid Fire cards, iMessage bubbles) are the only screens Seedance renders directly.\\n- Multi-person formats (2-Person Podcast, Street Interview, Two Personas): every DIALOGUE line carries a speaker label, and the PROMPT describes who is physically speaking; voices clearly distinct.\\n- Bucket B ads: one consistent VO voice across all scenes \\u2014 specify it in SCENE 1, reference \\\"same VO voice\\\" after.\\n- If NUMBER_OF_ADS > 8, ask whether to allow format repeats with different angles before proceeding\\n\\nPIPELINE ADAPTATION (HIGHEST PRIORITY - APPLIES ON TOP OF EVERYTHING ABOVE)\\nYou are running inside an automated pipeline. The inputs come from the user message fields:\\n- WEBSITE = the WEBSITE field. You cannot browse. Build the LOCKED BRAND SPEC only from: the URL text itself, the PRODUCT NAME and TARGET AUDIENCE fields, and the CONTENT ANALYZER OUTPUT (the single source of truth for the product's physical appearance). Never invent trust stats, review counts, awards, or certifications; if unknown, omit them. Never stop to ask questions; if information is missing, use conservative neutral claims.\\n- NUMBER_OF_ADS = 1. Produce exactly ONE ad.\\n- DURATION = 15 seconds. ASPECT RATIO = 9:16. Resolution 720p. One single Seedance 2.0 generation.\\n- PRODUCT REFERENCE IMAGE: the product photo IS attached as @Image1 at generation time. Refer to the product as \\\"the exact product shown in @Image1\\\" at least once in every scene where the product appears, AND still apply your full textual product lock (exact colors, materials, branding, proportions from the CONTENT ANALYZER OUTPUT).\\n\\nFORMAT SELECTION - the CONCEPT field forces the format:\\n- \\\"Surprise me (top performer)\\\": choose the best-fitting format from the library for this product and audience, and state which one in the metadata.\\n- \\\"UGC talking head review\\\": A1. Confessional Talking Head\\n- \\\"Interview on the street\\\": A7. Street Interview\\n- \\\"Podcast clip\\\": A5. 1-Person Podcast\\n- \\\"15-second B-roll (voiceover)\\\": Bucket B - choose the best-fitting B-format; 100% b-roll, absolutely no faces or people on camera (hands allowed), all speech is voice-over.\\n- \\\"Unboxing\\\": B1. Reveal / Twist Haul staged as a hands-and-tabletop unboxing; face optional, never the focus.\\n- \\\"Product reveal (no person)\\\": Bucket B product hero reveal; NO people at all, voice-over optional.\\n- \\\"Testimonial\\\": A1. Confessional Talking Head with a sincere past-tense testimonial angle; calmer, lower energy than standard UGC.\\n- \\\"Before and after\\\": A2. Two Personas / Split Self.\\n- \\\"Feature walkthrough demo\\\": Bucket B hands-on demo walking through 2-3 concrete features one at a time, show-then-say, no hype.\\n\\nVOICEOVER + OUTRO TIMING (OVERRIDES the Timing Auditor's default numbers above):\\n- Total spoken words across the whole ad: MAXIMUM 21. Speech rate 2.0 words per second.\\n- ALL dialogue must END by second 13.5 at the latest. The final 1.5-2.0 seconds of the ad are a SILENT OUTRO HOLD: the creator or the product holds frame (a warm smile, or a steady product hero shot), no dialogue, no new action, no cut.\\n- The CTA is the last spoken line, maximum 4 words, finishing by second 13.5. Structure the final scene as \\\"SCENE N (12-15s | CTA + HOLD)\\\": CTA spoken between 12 and 13.5s, silent hold from 13.5 to 15s. Write the hold explicitly into the scene PROMPT.\\n- The Timing Auditor must verify: (words / 2.0) + pause budget <= 13.5 seconds. Iterate until it passes.\\n\\nNO ON-SCREEN TEXT: no captions, no text overlays, no end cards, no offer banners, no on-screen writing of any kind in any scene prompt. Rendered text comes out garbled; captions and overlays are added in post-production. Also avoid incidental readable text in scenes (billboards, screens, signage) beyond the product's own label.\\n\\nPRONUNCIATION (dialogue only): the video model reads DIALOGUE text literally, so brand and product names must be written phonetically IN DIALOGUE LINES ONLY.\\n- If the user message includes PRODUCT PRONUNCIATION, use that phonetic spelling in every DIALOGUE line where the name is spoken (e.g. write \\\"gear\\\" where the brand is GIR).\\n- If it is not provided and the name is an invented, stylized, or ambiguous word, spell it in DIALOGUE the way a native speaker would naturally say it.\\n- Everywhere else (scene descriptions, product lock, CAPTION SCRIPT) keep the exact real spelling and casing of the brand - the phonetic version exists only so the voice says it right.\\n\\nSEEDANCE PROMPT FORMAT (how the PROMPT_START block must be written - for this pipeline it REPLACES the scene output format described above):\\nSeedance 2.0 performs best with a compact shot brief, not long prose. Build the prompt exactly like this:\\n- HEADER LINE first: \\\"<N> shots, 15 seconds total, 9:16 vertical. Amateur UGC video filmed on an iPhone, handheld with natural shake, flat neutral phone colors, deep focus with everything sharp, plain everyday indoor lighting. The product is the exact product shown in the reference image.\\\" (For Bucket C animated ads, swap the camera identity for the locked animation style.)\\n- Then ONE SHORT PARAGRAPH PER SHOT. Each begins exactly \\\"Shot <n> (<start>-<end>s | <BEAT NAME>):\\\" and from Shot 2 onward starts with \\\"Cut to \\\" - e.g. \\\"Cut to Shot 2 (3-6s | PROBLEM):\\\".\\n- Per shot: 2-3 sentences MAXIMUM. Concrete subjects and strong action verbs (lifts, cracks, taps, turns, sets down). NO mood adjectives, NO Feeling/Energy labels, NO style-lock paragraphs, NO camera-brand talk beyond the header. Name the camera move in real terms: handheld selfie at arm's length, first-person POV looking down, slow push-in, static hold.\\n- Speech is written INTO the action and lip-synced by the model: for on-camera lines write - she looks at the camera and says: \\\"...\\\" - and for voice-over write - female VO, warm and conversational, says: \\\"...\\\" (same VO voice every shot). Keep every spoken line UNDER 10 words. Total spoken words across the ad: max 21.\\n- Name ONE diegetic ambient sound in each shot where natural (the can tab cracks and fizzes, distant street noise, fridge hum, fabric rustle).\\n- FINAL SHOT: the CTA line ends by second 13.5, then write the hold explicitly: \\\"then holds the product steady to camera, no dialogue, no new movement, until 15s.\\\"\\n- LAST LINE of the prompt, verbatim: \\\"Natural voices and real ambient sound only. No music. No logo. No text on screen.\\\"\\n\\nFINAL OUTPUT FORMAT (STRICT - a machine parses this):\\nRun your whole internal pipeline (website forensics, vibe lock, format selection, 12-beat script, timing audit, story direction) SILENTLY. Do not print the steps, do not use markdown fences, do not add any commentary. Output EXACTLY this structure and nothing else - one metadata field per line, then the prompt between the two delimiter lines:\\nFORMAT: <format name from the library>\\nAWARENESS: <Problem Aware | Solution Aware | Product Aware>\\nBUCKET: <A | B | C>\\nANGLE: <one-sentence creative angle>\\nTITLE: <short ad nickname>\\nDURATION: 15\\nVO_ENDS_AT: 13.5\\nPROMPT_START\\n<the finished Seedance 2.0 prompt, built EXACTLY to the SEEDANCE PROMPT FORMAT above: header line, then \\\"Shot n (start-ends | BEAT):\\\" paragraphs joined with \\\"Cut to\\\", then the verbatim no-music closing line. Free text - quotes and line breaks are fine here.>\\nPROMPT_END\\nCAPTIONS_START\\n<the caption script for post-production: every spoken line in order, one line of text per line, using the REAL brand spelling and correct punctuation (not the phonetic dialogue spelling). No scene numbers, no timestamps, no speaker labels - just the clean spoken words as they should appear on screen. Plain punctuation only: commas and periods. Never use dashes or em dashes anywhere in the caption script.>\\nCAPTIONS_END\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify(['PRODUCT NAME: ' + $('Webhook').first().json.body.product_name, 'PRODUCT PRONUNCIATION: ' + ($('Webhook').first().json.body.product_pronunciation || 'not provided - decide the natural pronunciation yourself'), 'WEBSITE: ' + $('Webhook').first().json.body.website, 'TARGET AUDIENCE: ' + ($('Webhook').first().json.body.target_audience || 'derive from the website'), 'CONCEPT: ' + $('Webhook').first().json.body.concept_label, 'CONTENT ANALYZER OUTPUT (single source of truth for the product appearance): ' + $('Content Analyzer').first().json.choices[0].message.content].join(String.fromCharCode(10) + String.fromCharCode(10))) }} }\n  ]\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1100,
        0
      ],
      "id": "assistant-scene-prompts",
      "name": "Assistant (scene prompts)"
    },
    {
      "parameters": {
        "jsCode": "const IPHONE = 'IPHONE-REALISM ENFORCEMENT (HIGHEST PRIORITY - overrides ALL styling wording below, including any \\'warm\\', \\'golden\\', \\'macro\\', \\'foreground depth\\', or \\'grade\\' cues): Render this as ORDINARY RAW iPhone video shot by a normal person, a clip straight from someone\\'s camera roll, NOT an ad. FOCUS: deep depth of field, everything sharp front to back. NO shallow focus, NO bokeh, NO background blur, NO lens blur, NO macro defocus. GRADE: flat neutral iPhone color and contrast, slightly cool. NO warm grade, NO golden or orange cast, NO teal, NO film emulation, NO grain, NO vignette. A little flat and plain is correct. LIGHT: plain even everyday indoor light such as an overhead room light or flat daylight, with mildly overexposed windows. NO dramatic directional light, NO hard shadows, NO moody pools of light, NO soft studio glow, NO golden hour. CAMERA: handheld phone with slight natural shake, plain straight-on framing, ordinary consumer phone wide lens, NOT a cinema lens. The result must look a little boring and real like authentic UGC, never glossy, cinematic, warm-lit, or professionally shot.';\nconst data = $input.first().json;\nconst t = data.choices[0].message.content;\nconst grab = (k) => { const m = t.match(new RegExp('^\\\\s*' + k + ':\\\\s*(.*)$', 'mi')); return m ? m[1].trim() : ''; };\nconst pm = t.match(/PROMPT_START\\s*([\\s\\S]*?)\\s*PROMPT_END/i);\nif (!pm) throw new Error('PROMPT_START/PROMPT_END block not found in assistant output');\nconst cm = t.match(/CAPTIONS_START\\s*([\\s\\S]*?)\\s*CAPTIONS_END/i);\nreturn [{ json: {\n  scene: 1,\n  duration: parseInt(grab('DURATION')) || 15,\n  format: grab('FORMAT'),\n  awareness: grab('AWARENESS'),\n  bucket: grab('BUCKET'),\n  angle: grab('ANGLE'),\n  title: grab('TITLE'),\n  vo_ends_at: parseFloat(grab('VO_ENDS_AT')) || 13.5,\n  captions: cm ? cm[1].trim() : '',\n  prompt: IPHONE + String.fromCharCode(10) + String.fromCharCode(10) + pm[1].trim()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "id": "parse-scenes",
      "name": "Parse scenes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_KIE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bytedance/seedance-2\",\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.prompt) }},\n    \"reference_image_urls\": [\"https://maxfusion.s3.eu-west-3.amazonaws.com/{{ $('Register image').first().json.filename }}\"],\n    \"duration\": {{ $json.duration }},\n    \"resolution\": \"720p\",\n    \"aspect_ratio\": \"9:16\",\n    \"generate_audio\": true\n  }\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1540,
        0
      ],
      "id": "video-kie",
      "name": "Video (KIE)"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        0
      ],
      "id": "wait",
      "name": "Wait",
      "webhookId": "4e5c74cd-9bf1-4090-8edc-e52f17e1bf9e"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Video (KIE)').first().json.data.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_KIE_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1980,
        0
      ],
      "id": "poll-kie",
      "name": "Poll (KIE)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "IF success-c",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2200,
        0
      ],
      "id": "if-success",
      "name": "IF success"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.data;\nconst r = JSON.parse(d.resultJson);\nconst meta = $('Parse scenes').first().json;\nconst beats = [];\nconst re = /(?:SCENE|SHOT)\\s*\\d+\\s*\\(([^)]*)\\)/gi;\nlet m;\nwhile ((m = re.exec(meta.prompt || '')) !== null) {\n  const parts = m[1].split('|').map(s => s.trim());\n  beats.push({ time: parts[0] || '', label: (parts[1] || '').replace(/^[A-Z ]*\\|?/,'').trim() || parts[1] || '' });\n}\nreturn [{ json: {\n  videos: [ r.resultUrls[0] ],\n  storyboard: {\n    title: meta.title || '', format: meta.format || '', awareness: meta.awareness || '',\n    bucket: meta.bucket || '', angle: meta.angle || '', beats\n  }\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        -120
      ],
      "id": "extract-url",
      "name": "Extract URL"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.videos[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        -300
      ],
      "id": "download-video",
      "name": "Download video",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "write",
        "options": {},
        "fileName": "=/tmp/{{ $execution.id }}.mp4",
        "dataPropertyName": "data"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2840,
        -300
      ],
      "id": "write-video",
      "name": "Write video"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i /tmp/{{ $execution.id }}.mp4 -vn -ac 1 -ar 16000 /tmp/{{ $execution.id }}.flac"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3040,
        -300
      ],
      "id": "extract-audio",
      "name": "Extract audio"
    },
    {
      "parameters": {
        "operation": "read",
        "options": {},
        "fileSelector": "=/tmp/{{ $execution.id }}.flac"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3240,
        -300
      ],
      "id": "read-audio",
      "name": "Read audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "word"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3440,
        -300
      ],
      "id": "transcribe-groq",
      "name": "Transcribe (Groq)",
      "credentials": {
        "httpHeaderAuth": {
          "name": "groq"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const sb = $('Extract URL').first().json.storyboard || {};\nconst beats = Array.isArray(sb.beats) ? sb.beats : [];\nlet mids = beats.map(b => { const m = /([\\d.]+)\\s*[-\\u2013\\u2014]\\s*([\\d.]+)/.exec(String(b.time||'')); return m ? (parseFloat(m[1]) + parseFloat(m[2])) / 2 : null; }).filter(x => x !== null && x >= 0 && x < 15);\nif (!mids.length) mids = [2, 7.5, 12];\nmids = mids.slice(0, 6);\nconst T = '/tmp', E = $execution.id;\nconst cmd = mids.map((m, i) => `ffmpeg -y -ss ${m.toFixed(2)} -i ${T}/${E}.mp4 -frames:v 1 -q:v 5 ${T}/${E}_f${i}.jpg`).join(' && ');\nreturn [{ json: { framesCmd: cmd, mids } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3640,
        -300
      ],
      "id": "prep-frames",
      "name": "Prep frames"
    },
    {
      "parameters": {
        "command": "={{ $json.framesCmd }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3840,
        -300
      ],
      "id": "extract-frames",
      "name": "Extract frames"
    },
    {
      "parameters": {
        "operation": "read",
        "options": {},
        "fileSelector": "=/tmp/{{ $execution.id }}_f*.jpg"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        4040,
        -300
      ],
      "id": "read-frames",
      "name": "Read frames"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst meta = $('Parse scenes').first().json;\nconst sb = $('Extract URL').first().json.storyboard || {};\nconst content = [];\nfor (let i = 0; i < items.length; i++) {\n  const buf = await this.helpers.getBinaryDataBuffer(i, 'data');\n  content.push({ type: 'image_url', image_url: { url: 'data:image/jpeg;base64,' + buf.toString('base64') } });\n}\nconst beats = (sb.beats || []).map((b, i) => `${i + 1}. ${b.time} ${b.label}`).join('; ');\ncontent.push({ type: 'text', text: 'These are frames from a 9:16 video ad, one per scene, in order. Scenes: ' + beats +\n  '. Caption script:' + String.fromCharCode(10) + (meta.captions || '') + String.fromCharCode(10) +\n  'Task 1: for EACH frame in order, pick where burned captions should sit so they do not cover the product or a face: lower (default, about 70% height), center, or upper. '\n  + 'Task 2: pick up to 4 words from the caption script that deserve emphasis color (brand or product names, numbers, the single strongest power word). '\n  + 'Reply with ONLY strict JSON: {\"zones\":[\"lower\",...] (one per frame), \"emphasis\":[\"WORD\",...]}' });\nreturn [{ json: { body: { model: 'anthropic/claude-sonnet-4.6', max_tokens: 400, messages: [{ role: 'user', content }] } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        -300
      ],
      "id": "build-vision-request",
      "name": "Build vision request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4440,
        -300
      ],
      "id": "vision-placement",
      "name": "Vision placement",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Core caption builder: whisper words + caption script -> TikTok-style karaoke ASS.\n// Pure function, no n8n globals - unit-testable and embedded verbatim into the Code node.\n// SYNC PRINCIPLE: captions render ONLY for script text the VO actually spoke.\n// Script lines the video model skipped, and script left over when the VO ends early,\n// are dropped entirely - a caption never appears while nothing is being said.\nfunction buildCaptionAss(cfg) {\n  const PX = 720, PY = 1280;\n  const voEnd = (typeof cfg.voEnd === 'number' && cfg.voEnd > 3) ? cfg.voEnd : 13.5;\n  const dur = (typeof cfg.duration === 'number' && cfg.duration > voEnd) ? cfg.duration : Math.max(15, voEnd + 1.5);\n  const norm = s => String(s || '').toLowerCase().replace(/[^a-z0-9']/g, '');\n  const clean = s => String(s || '').replace(/[{}\\\\]/g, '');\n\n  // ---- script tokens (real spelling, the display truth); punctuation-only tokens dropped ----\n  const lines = String(cfg.captions || '').split('\\n').map(s => s.trim()).filter(Boolean);\n  const tokens = [];\n  lines.forEach((line, li) => {\n    line.split(/\\s+/).filter(Boolean).forEach(t => { if (norm(t)) tokens.push({ text: t, line: li }); });\n  });\n  if (!tokens.length) return null;\n  const lastLine = tokens[tokens.length - 1].line;\n\n  // ---- whisper words (what was ACTUALLY said, with real timings) ----\n  const words = Array.isArray(cfg.words) ? cfg.words\n    .map(w => ({ t: norm(w.word), start: +w.start, end: +w.end }))\n    .filter(w => w.t && isFinite(w.start) && isFinite(w.end)) : [];\n  if (!words.length) return null;\n\n  // ---- anchor-based alignment ----\n  // 1) a token ANCHORS when its text matches a heard word within a small forward window\n  //    (words shorter than 3 letters never anchor - too easy to false-match \"the\"/\"a\")\n  // 2) tokens BETWEEN two anchors inherit the unmatched heard words in that gap -\n  //    this is how \"GIR\" gets the timing of heard \"gear\", and \"464F\" spans \"four sixty four\"\n  // 3) tokens with NO heard words behind them (skipped line, VO ended early) stay\n  //    timeless and are dropped\n  let wi = 0;\n  tokens.forEach(tok => {\n    const tn = norm(tok.text);\n    if (tn.length < 3) return;\n    for (let j = wi; j < Math.min(wi + 6, words.length); j++) {\n      if (words[j].t === tn) { tok.anchor = j; wi = j + 1; return; }\n    }\n  });\n\n  function assignGap(gapToks, loW, hiW) {\n    const n = gapToks.length, m = hiW - loW + 1;\n    if (!n || m <= 0) return;\n    for (let i = 0; i < n; i++) {\n      const a = loW + Math.floor(i * m / n);\n      let b = loW + Math.ceil((i + 1) * m / n) - 1;\n      if (b < a) b = a;\n      if (b > hiW) b = hiW;\n      gapToks[i].start = words[a].start;\n      gapToks[i].end = words[b].end;\n    }\n  }\n\n  let prevAnchorWord = -1, pi = -1;\n  for (let ti = 0; ti < tokens.length; ti++) {\n    if (tokens[ti].anchor === undefined) continue;\n    assignGap(tokens.slice(pi + 1, ti), prevAnchorWord + 1, tokens[ti].anchor - 1);\n    tokens[ti].start = words[tokens[ti].anchor].start;\n    tokens[ti].end = words[tokens[ti].anchor].end;\n    prevAnchorWord = tokens[ti].anchor; pi = ti;\n  }\n  assignGap(tokens.slice(pi + 1), prevAnchorWord + 1, words.length - 1);\n\n  const timed = tokens.filter(t => typeof t.start === 'number');\n  if (!timed.length) return null;\n\n  // ---- chunk into caption groups: max 3 words AND max ~16 chars, never across lines,\n  // break at punctuation. Short chunks = big font + snappy flips (the TikTok look).\n  const MAXC = 16;\n  const chunks = [];\n  let cur = [], curChars = 0;\n  const flush = () => { if (cur.length) { chunks.push(cur); cur = []; curChars = 0; } };\n  timed.forEach(tok => {\n    const wlen = clean(tok.text).length;\n    if (cur.length && (tok.line !== cur[0].line || cur.length >= 3 || curChars + 1 + wlen > MAXC)) flush();\n    cur.push(tok);\n    curChars += (cur.length > 1 ? 1 : 0) + wlen;\n    if (/[.!?,]$/.test(tok.text)) flush();\n  });\n  flush();\n  // merge orphan single-word chunks back if the result still fits\n  for (let i = chunks.length - 1; i > 0; i--) {\n    const joined = chunks[i - 1].concat(chunks[i]);\n    const jc = joined.map(x => clean(x.text)).join(' ').length;\n    if (chunks[i].length === 1 && chunks[i - 1][0].line === chunks[i][0].line &&\n        joined.length <= 3 && jc <= MAXC) {\n      chunks[i - 1] = joined; chunks.splice(i, 1);\n    }\n  }\n\n  // ---- per-scene caption zone from beats + vision ----\n  const beatRanges = (Array.isArray(cfg.beats) ? cfg.beats : []).map(b => {\n    const m = /([\\d.]+)\\s*[-\\u2013\\u2014]\\s*([\\d.]+)/.exec(String(b.time || ''));\n    return m ? [parseFloat(m[1]), parseFloat(m[2])] : null;\n  });\n  const zones = Array.isArray(cfg.zones) ? cfg.zones : [];\n  const marginFor = mid => {\n    let zone = 'lower';\n    for (let i = 0; i < beatRanges.length; i++) {\n      if (beatRanges[i] && mid >= beatRanges[i][0] && mid < beatRanges[i][1]) {\n        zone = zones[i] || 'lower'; break;\n      }\n    }\n    return zone === 'upper' ? 840 : zone === 'center' ? 560 : 400;\n  };\n\n  const emph = new Set((Array.isArray(cfg.emphasis) ? cfg.emphasis : []).map(norm).filter(Boolean));\n  const isEmph = t => { const n = norm(t); return n && (emph.has(n) || /\\d/.test(t)); };\n\n  // ---- events: one per word, whole chunk shown, current word purple, emphasis teal ----\n  const PURPLE = '\\\\1c&HFF486B&';  // ASS is BGR: #6B48FF\n  const TEAL = '\\\\1c&HCCE500&';    // #00E5CC\n  const fmt = t => {\n    t = Math.max(0, t);\n    const h = Math.floor(t / 3600), m = Math.floor((t % 3600) / 60), s = Math.floor(t % 60),\n          cs = Math.round((t - Math.floor(t)) * 100);\n    return h + ':' + String(m).padStart(2, '0') + ':' + String(s).padStart(2, '0') + '.' + String(cs).padStart(2, '0');\n  };\n\n  const events = [];\n  chunks.forEach((chunk, ci) => {\n    const cStart = chunk[0].start;\n    const lastTok = chunk[chunk.length - 1];\n    const nextStart = chunks[ci + 1] ? chunks[ci + 1][0].start : voEnd;\n    // linger max ~0.9s after the last spoken word so captions never hang through pauses\n    let cEnd = Math.min(Math.max(lastTok.end + 0.15, cStart + 0.5), lastTok.end + 0.9, nextStart - 0.01, voEnd);\n    // the CTA holds through the outro to the last frame - but ONLY if it is the real\n    // final script line AND the VO actually spoke it\n    if (ci === chunks.length - 1 && chunk[0].line === lastLine) cEnd = dur;\n    if (cEnd <= cStart) return;\n    const mv = marginFor((cStart + cEnd) / 2);\n    chunk.forEach((tok, i) => {\n      const evStart = i === 0 ? cStart : Math.max(tok.start, cStart);\n      const evEnd = i === chunk.length - 1 ? cEnd : Math.max(Math.min(chunk[i + 1].start, cEnd), evStart + 0.05);\n      if (evEnd <= evStart) return;\n      const text = chunk.map((t2, j) => {\n        const wtxt = clean(t2.text).replace(/^[-\\u2013\\u2014]+|[-\\u2013\\u2014]+$/g, '').toUpperCase();\n        if (j === i) return '{' + PURPLE + '}' + wtxt + '{\\\\r}';\n        if (isEmph(t2.text)) return '{' + TEAL + '}' + wtxt + '{\\\\r}';\n        return wtxt;\n      }).join(' ');\n      events.push('Dialogue: 0,' + fmt(evStart) + ',' + fmt(evEnd) + ',Cap,,0,0,' + mv + ',,' + text);\n    });\n  });\n  if (!events.length) return null;\n\n  // ---- font auto-fit: the longest chunk must fit inside the frame with margins ----\n  // Montserrat ExtraBold caps average advance ~0.62em; usable width = 720 - 2x50 margins\n  const maxChars = Math.max(...chunks.map(c => c.map(t => clean(t.text)).join(' ').length));\n  const fontSize = Math.max(40, Math.min(60, Math.floor(620 / (0.62 * maxChars))));\n  const outline = Math.max(3, Math.round(fontSize / 16));\n\n  return ['[Script Info]', 'ScriptType: v4.00+', 'PlayResX: ' + PX, 'PlayResY: ' + PY, 'WrapStyle: 0', 'ScaledBorderAndShadow: yes', '',\n    '[V4+ Styles]',\n    'Format: Name, Fontname, Fontsize, PrimaryColour, SecondaryColour, OutlineColour, BackColour, Bold, Italic, Underline, StrikeOut, ScaleX, ScaleY, Spacing, Angle, BorderStyle, Outline, Shadow, Alignment, MarginL, MarginR, MarginV, Encoding',\n    'Style: Cap,Montserrat ExtraBold,' + fontSize + ',&H00FFFFFF,&H00FFFFFF,&H00000000,&H96000000,0,0,0,0,100,100,0.5,0,1,' + outline + ',2,2,50,50,400,1', '',\n    '[Events]', 'Format: Layer, Start, End, Style, Name, MarginL, MarginR, MarginV, Effect, Text',\n    ...events, ''].join('\\n');\n}\nconst groq = $('Transcribe (Groq)').first().json;\nconst meta = $('Parse scenes').first().json;\nconst sb = $('Extract URL').first().json.storyboard || {};\nlet zones = null, emphasis = [];\ntry {\n  const v = $('Vision placement').first().json;\n  const c = v.choices[0].message.content;\n  const j = JSON.parse(c.replace(/^```(json)?/i, '').replace(/```\\s*$/, '').trim());\n  if (Array.isArray(j.zones)) zones = j.zones.map(z => String(z).toLowerCase());\n  if (Array.isArray(j.emphasis)) emphasis = j.emphasis;\n} catch (e) { /* vision is optional - defaults apply */ }\nconst words = groq.words || (groq.segments || []).flatMap(s => s.words || []);\nconst ass = buildCaptionAss({ words, captions: meta.captions || '', voEnd: meta.vo_ends_at || 13.5, duration: meta.duration || 15, beats: sb.beats || [], zones, emphasis });\nif (!ass) throw new Error('caption build produced no events - check CAPTIONS block and transcription');\nconst bin = await this.helpers.prepareBinaryData(Buffer.from(ass, 'utf8'), 'subs.ass', 'text/plain');\nreturn [{ json: { ok: true }, binary: { data: bin } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        -300
      ],
      "id": "build-ass",
      "name": "Build ASS"
    },
    {
      "parameters": {
        "operation": "write",
        "options": {},
        "fileName": "=/tmp/{{ $execution.id }}.ass",
        "dataPropertyName": "data"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        4840,
        -300
      ],
      "id": "write-ass",
      "name": "Write ASS"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i /tmp/{{ $execution.id }}.mp4 -vf \"ass=/tmp/{{ $execution.id }}.ass:fontsdir=/home/node/.n8n/fonts\" -c:v libx264 -preset veryfast -crf 18 -c:a copy /tmp/{{ $execution.id }}_cap.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5040,
        -300
      ],
      "id": "burn-captions",
      "name": "Burn captions"
    },
    {
      "parameters": {
        "operation": "read",
        "options": {},
        "fileSelector": "=/tmp/{{ $execution.id }}_cap.mp4"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        5240,
        -300
      ],
      "id": "read-captioned",
      "name": "Read captioned"
    },
    {
      "parameters": {
        "jsCode": "const b = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{ json: { size: b.length }, binary: $input.first().binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5440,
        -300
      ],
      "id": "stat-captioned",
      "name": "Stat captioned"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.maxfusion.ai/api/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_MAXFUSION_KEY"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"purpose\": \"video_reference\",\n  \"filename\": \"creativeos_{{ $execution.id }}.mp4\",\n  \"content_type\": \"video/mp4\",\n  \"size_bytes\": {{ $json.size }}\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5640,
        -300
      ],
      "id": "register-captioned",
      "name": "Register captioned"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json, binary: { file: $('Stat captioned').first().binary.data } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        -300
      ],
      "id": "attach-binary",
      "name": "Attach binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload.url }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.upload.fields.token }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.upload.fields['Content-Type'] }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6040,
        -300
      ],
      "id": "upload-captioned",
      "name": "Upload captioned",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=rm -f /tmp/{{ $execution.id }}.mp4 /tmp/{{ $execution.id }}.flac /tmp/{{ $execution.id }}.ass /tmp/{{ $execution.id }}_f*.jpg /tmp/{{ $execution.id }}_cap.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        6240,
        -300
      ],
      "id": "cleanup",
      "name": "Cleanup",
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ videos: ['https://maxfusion.s3.eu-west-3.amazonaws.com/' + $('Register captioned').first().json.filename], videos_raw: $('Extract URL').first().json.videos, storyboard: $('Extract URL').first().json.storyboard }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6440,
        -300
      ],
      "id": "respond-success",
      "name": "Respond (success)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "IF fail-c",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2420,
        120
      ],
      "id": "if-fail",
      "name": "IF fail"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'processing', message: ($('Poll (KIE)').first().json.data.failMsg || 'Your ad is still generating, we will send it shortly.') }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2640,
        120
      ],
      "id": "respond-fail",
      "name": "Respond (fail)"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Register image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register image": {
      "main": [
        [
          {
            "node": "Decode image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode image": {
      "main": [
        [
          {
            "node": "Upload to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Content Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Analyzer": {
      "main": [
        [
          {
            "node": "Assistant (scene prompts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistant (scene prompts)": {
      "main": [
        [
          {
            "node": "Parse scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse scenes": {
      "main": [
        [
          {
            "node": "Video (KIE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video (KIE)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Poll (KIE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll (KIE)": {
      "main": [
        [
          {
            "node": "IF success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF success": {
      "main": [
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL": {
      "main": [
        [
          {
            "node": "Download video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download video": {
      "main": [
        [
          {
            "node": "Write video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write video": {
      "main": [
        [
          {
            "node": "Extract audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract audio": {
      "main": [
        [
          {
            "node": "Read audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read audio": {
      "main": [
        [
          {
            "node": "Transcribe (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe (Groq)": {
      "main": [
        [
          {
            "node": "Prep frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep frames": {
      "main": [
        [
          {
            "node": "Extract frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract frames": {
      "main": [
        [
          {
            "node": "Read frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read frames": {
      "main": [
        [
          {
            "node": "Build vision request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build vision request": {
      "main": [
        [
          {
            "node": "Vision placement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision placement": {
      "main": [
        [
          {
            "node": "Build ASS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ASS": {
      "main": [
        [
          {
            "node": "Write ASS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write ASS": {
      "main": [
        [
          {
            "node": "Burn captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Burn captions": {
      "main": [
        [
          {
            "node": "Read captioned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read captioned": {
      "main": [
        [
          {
            "node": "Stat captioned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stat captioned": {
      "main": [
        [
          {
            "node": "Register captioned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register captioned": {
      "main": [
        [
          {
            "node": "Attach binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach binary": {
      "main": [
        [
          {
            "node": "Upload captioned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload captioned": {
      "main": [
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup": {
      "main": [
        [
          {
            "node": "Respond (success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF fail": {
      "main": [
        [
          {
            "node": "Respond (fail)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {}
}