FootageRenamer/n8n/footage-renamer.workflow.json
{
  "name": "Footage Renamer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/388acb83-16dd-80f5-977e-f0aaa68bc0f2/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'Status', select: { equals: 'Queued' } }, page_size: 25 }) }}"
      },
      "id": "Notion_get_queued",
      "name": "Notion: get queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_NOTION_CRED",
          "name": "Notion Bearer"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const res = ($input.first().json.results) || [];\nreturn res.map(r => ({ json: { pageId: r.id } }));"
      },
      "id": "perjob",
      "name": "Per job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Per job').item.json.pageId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { Status: { select: { name: 'Processing' } } } }) }}"
      },
      "id": "Notion_set_Processing",
      "name": "Notion: set Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_NOTION_CRED",
          "name": "Notion Bearer"
        }
      }
    },
    {
      "parameters": {
        "command": "=node /usr/local/bin/stage2.js \"{{ $('Per job').item.json.pageId }}\""
      },
      "id": "stage2",
      "name": "Run stage2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "content": "STAGE 2 runs in stage2.js (baked into the n8n image at /usr/local/bin/stage2.js). It reads the Notion page, pulls the Dropbox clips, ffmpeg-frames + OpenRouter-matches each, renames (POV from footage), uploads the renamed set to OUTPUT_ROOT/<Client>/<Creator>, writes _report.md + share link, and updates this Notion row (Status + Output Folder + comment). Needs env: DROPBOX_REFRESH_TOKEN/APP_KEY/APP_SECRET, OPENROUTER_API_KEY, NOTION_TOKEN, OUTPUT_ROOT. See FootageRenamer/n8n/DEPLOY.md",
        "height": 220,
        "width": 460
      },
      "id": "note",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        480
      ]
    }
  ],
  "connections": {
    "Every 2 min": {
      "main": [
        [
          {
            "node": "Notion: get queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: get queued": {
      "main": [
        [
          {
            "node": "Per job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Per job": {
      "main": [
        [
          {
            "node": "Notion: set Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: set Processing": {
      "main": [
        [
          {
            "node": "Run stage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}